<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
    Splurty was built by <a target="_blank" href="http://github.com/noderosa">Chie</a> as a course work of <a target="_blank" href="http://www.thefirehoseproject.com/">The Firehose Project</a>.
  </p>


  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'chie.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Chie Miyajima</h2>
    <br />
    <p>
      As a Multimedia Producer in the Interactive Engagement Group at WNET, Chie Miyajima produces and maintains program websites, and occasionally shoots and edits interviews featured on the sites. She is a graduate of the Interactive Telecommunications Program (ITP) at NYU’s Tisch School of the Arts, where she worked on video art and interaction design. Chie is currently working towards becoming a web developer.
    </p>
  </div>
  <br class="clear" />



</div>

<br class="clear" />
<br />
<br />
<br />
<br />
